*{
    margin: 0px;
    padding: 0px;

}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: darkblue;
    position: sticky;
    top: 0px;
    font-family: Avenir, sans-serif;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 33%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: lightblue;
    border-bottom: 2px solid red;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #0000cc;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous p{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(0,0,88,0.25);
}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

#actuelle{
    background-color: #000070;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #3a3a3a;
    color: #d0d0d0;
    font-family: Avenir, sans-serif;
}

footer a{
    text-decoration: none;
    color: #d0d0d0;
}

.titre{
    text-align: center;
}

.text{
    margin: 50px;
    width: 80%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    text-justify: inter-word;
}

.italic{
    font-style: italic;
}

.paragraphe{
    text-indent: 20px;
}

.source{
    text-indent: 20px;
    font-size: 15px;
}

small{
    font-size: 17px;
}


.externlink{
    text-decoration: none;
    font-weight: bold;
    color: #3b3b3b;
}

.source li{
    text-decoration: none;
}

.source-list{
    list-style: none;
}

.smaller a{
    color: #d0d0d0;
    text-decoration: underline;
}